<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4  mx-auto">
            <div class="card" *ngIf="isResetTokenValid">
              <div class="card-body" >
                <div class="text-center">
                 
                  <h2 class="text-center">Set Password</h2>
                  <p>You can set your password here.</p>
                 
                  <div class="card-body">
    
                    <form id="resetPasswordForm" #resetPasswordForm="ngForm" novalidate>
    
                      <div class="form-group">
                        <input id="password" name="password" minlength="8" maxlength="20" (focus)="errors=[];successResult='';" required [(ngModel)]="model.password" #password="ngModel" placeholder="Enter Password" class="form-control"  type="password">
                        <small class="text-info">min : 8 char, max : 20 char</small>
                        <div class="text-danger"*ngIf="password.invalid && password.touched" >
                          Password is required.
                         </div>
                       
                      </div>
                      <div class="form-group">
                        <input id="confirmPassword" name="confirmPassword"  minlength="8" maxlength="20" (focus)="errors=[];successResult='';" required [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" placeholder="Email Confirm Password" class="form-control"  type="password">
                        <div class="text-danger"*ngIf="confirmPassword.invalid && confirmPassword.touched" >
                         Confirm Password is required.
                         </div>
                         <div class="text-danger"*ngIf="password.touched && confirmPassword.touched && model.password!=model.confirmPassword" >
                         Password and Confirm Password should matched.
                          </div>
                        <div class="text-danger" *ngIf="errors.length>0">{{errors[0]}}</div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" (click)="markFormGroupTouched(resetPasswordForm) && resetPasswordForm.form.valid && resetPassword()" [disabled]="isSubmitDisable==true" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                      </div>
                      
                     
                    </form>
                   <div class="text-success" *ngIf="successResult">{{successResult}}</div>
                  </div>
                  <div>
                    <p class="text-info"><a routerLink="/login">Go To Login Page.</a></p>
              
                  </div>
                </div>
              </div>
              </div>
              <div class="card" *ngIf="!isResetTokenValid">
                <p class="text-info">Please wait while we are verifying request token.</p>
                <div  *ngIf="errors.length>0">
               <p class="text-danger"> {{errors[0]}}<br>  <a routerLink="/forgot_password">Try again.</a></p>
              
                </div>
              </div>
              </div>
            
              </div>
              </div>