

<div class="text-right m-3">
  <a  routerLink="/add_edit_user" class="btn btn-primary d-inline">Add User</a>
</div>
<div class="table-responsive-sm">          
    <table class="table">
      <thead>
        <tr>
          <th>#Sr .No</th>
          <th>Source IP Address</th>
          <th>Source Database Name</th>
          <th>Destination IP Address</th>
          <th>Destination Database Name</th>
          <th>Created Date</th>
          <th>Backup Percentage</th>
          <th>Restore Percentage</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of lstUsers">
              <td>{{user.srNo}}</td>
              <td>{{user.employeeId}}</td>
              <td>{{user.firstName}} {{user.lastName}}</td>
              <td>{{user.designation}}</td>
              <td>{{user.reportingTo}}</td>
              <td><a class="p-1" [routerLink]="['/add_edit_user',user.userId]"  title="Edit"><i class="fa fa-edit"></i></a>
                <a href="javascript:void(0)" class="p-1" title="Delete"><i class="fa fa-trash"></i></a></td>
             
            </tr>
        
      </tbody>
    </table>
    </div>