

<div class="text-right m-3">
  <a  routerLink="/backup" class="btn btn-primary d-inline">Backup Database</a>
</div>
<div class="table-responsive-sm">          
    <table class="table">
      <thead>
        <tr>
          <th>#Sr .No</th>
          <th>Source IP Address</th>
          <th>Source Database Name</th>
          <th>Destination IP Address</th>
          <th>Destination Database Name</th>
          <th>Created Date</th>
          <th>Backup Percentage</th>
          <th>Restore Percentage</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let history of lstHistory">
              <td>{{history.srNo}}</td>
              <td>{{history.sourceIpAddress}}</td>
              <td>{{history.sourceDatabaseName}}</td>
              <td>{{history.destinationIpAddress}}</td>
              <td>{{history.destinationDatabaseName}}</td>
              <td>{{history.createdDate | date}}</td>
              <td>{{history.backupPercentage?history.backupPercentage:0}} %</td>
              <td>{{history.restorePercentage?history.restorePercentage:0}} %</td>
              <td>{{history.status}}</td>
             
            </tr>
        
      </tbody>
    </table>
    </div>