

<div class="text-right m-3">
  <a  routerLink="/add_edit_user" class="btn btn-primary d-inline">Add User</a>
</div>
<div class="table-responsive-sm">          
    <table class="table">
      <thead>
        <tr>
          <th>#Sr .No</th>
          <th>Employee Id</th>
          <th>Employee Name</th>
          <th>Designation</th>
          <th>Reporting To</th>
          <th>Action</th>
         
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of lstUsers">
              <td>{{user.srNo}}</td>
              <td>{{user.employeeId}}</td>
              <td>{{user.firstName}} {{user.lastName}}</td>
              <td>{{user.designation}}</td>
              <td>{{user.reportingTo}}</td>
              <td><a class="p-1" [routerLink]="['/add_edit_user',user.userId]"  title="Edit"><i class="fa fa-edit"></i></a>
                <a style="cursor: pointer;" (click)="open(content,user.userId)" class="p-1" title="Delete"><i  class="text-danger fa fa-trash"></i></a></td>
             
            </tr>
        
      </tbody>
    </table>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
          <div class="form-group">
              Are you sure you want to delete this user ?
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
      </div>
    </ng-template>